<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

    <meta charset="utf-8">
    <title>Project2</title>
  </head>
  <body>
    <%- body -%>
  </body>
</html>
