<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <style>@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');</style>

    <meta charset="utf-8">
    <title>Project2</title>
  </head>
  <body>
    <%- body -%>
  </body>
</html>
