<form action="/login" method="post">

<div id="mainSquare">
 <div id="loginSquare">
   <div id="logoSquare">
     <div id="logo">

     </div>
    </div>
    <div class="lineSquare"></div>
    <div class="lineSquare">
    <input id="loginField" type="text" name="username" placeholder="name"></div>
    <div class="lineSquare">
    <input id="passwordField" type="password" name="password" placeholder="password"></div>
    <div class="lineSquare"><button type="submit">login</button></div>
    <% if (typeof(message) != "undefined") { %>
      <div class="error-message"><%= message %></div>
    <% } %>
    <div class="lineSquare"><a href="/signup">SignUp</a></div>
    <div id="bottomSquare"></div>





 </div>
</div>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
<script type="text/javascript" src="../javascripts/mobile.js"> </script>
