<% if (user) {%>

<div id="map"></div>
<p><a href="/offer">Make an offer</a></p>
<input data="true" type="image" src="http://localhost:3000/public/imgs/coldChamb-button.png" id="coldChamb" alt ="Low Temperature Fermentation Chamber"/>

<input data="true" type="image" src="http://localhost:3000/public/imgs/hotChamb-button.png" id="hotChamb" alt ="Middle Temperature Fermentation Chamber"/>

<input data="true" type="image" src="http://localhost:3000/public/imgs/mill-button.png" id="mill" alt ="Mill"/>

<input data="true" type="image" src="http://localhost:3000/public/imgs/crusher-button.png" id="crusher" alt ="Fruit Crusher"/>

<input data="true" type="image" src="http://localhost:3000/public/imgs/press-button.png" id="press" alt ="Fruit Press"/>

<input data="true" type="image" src="http://localhost:3000/public/imgs/full-button.png" id="full" alt ="Full brewing cycle"/>

<% }%>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsfqsN_5UqBfkXH2ZgI9Hb7eLPqVCttmk&libraries=places	"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
<script type="text/javascript" src="javascripts/main.js"> </script>
