<% if (user) {%>
<input type="text" id="location"  class="form-control" placeholder="Location">

<div id="map"></div>

<p><a href="/offer">Make an offer</a></p>




<% }%>

<input type="checkbox" name="ColdFermChamb" id="1">
<label for="ColdFermChamb">Low Temperature Fermentation Chamber</label>

<input type="checkbox" name="HotFermChamb" id="2">
<label for="HotFermChamb">Middle Temperature Fermentation Chamber</label>

<input type="checkbox" name="Mill" id="3">
<label for="Mill">Mill</label>

<input type="checkbox" name="Crusher" id="4">
<label for="Crusher">Fruit Crusher</label>

<input type="checkbox" name="Press" id="5">
<label for="Press">Fruit Press</label>

<input type="checkbox" name="Full" id="6">
<label for="Full">Full brewing cycle</label>
<%# <script src="javascripts/markerclusterer.js"></script>%>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiVF3y8-6c0sENmx-_am94n_UR9FIPDx0&libraries=places	"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
<script type="text/javascript" src="javascripts/main.js"> </script>
