<div class="login-bg">
<form action="/offer" method="post">
  <div id="mainSquare">
    <div id="loginSquare">
  <div class="lineSquaretitle ">
    <input type="text" name="name" placeholder="Offer name" style="height:90%; width=100%">
  </div>
  <div class="lineSquaretitle dropdown">
    EQUIPMENT
    <div class="dropdown-content wordwrapper">
      <ul>
          <li><input type="checkbox" name="equipment" value="ColdFermChamb">
          <label for="ColdFermChamb">Low Temperature Fermentation Chamber</label></li>
          <li><input type="checkbox" name="equipment" value="HotFermChamb">
          <label for="HotFermChamb">Middle Temperature Fermentation Chamber</label></li>
          <li><input type="checkbox" name="equipment" value="Mill">
          <label for="Mill">Mill</label></li>
          <li><input type="checkbox" name="equipment" value="Crusher">
          <label for="Crusher">Fruit Crusher</label></li>
          <li><input type="checkbox" name="equipment" value="Press">
          <label for="Press">Fruit Press</label></li>
          <li><input type="checkbox" name="equipment" value="Full">
          <label for="Full">Full brewing cycle</label></li>
       </ul>
    </div>
  </div>
  <div class="lineSquaretitle ">
    <label for="description">Description</label>
    <textarea type="text" name="description"  placeholder="Description"></textarea>
  </div>
<div class="lineSquaretitle ">
<label for="location">Location</label>
<textarea type="text" id="location" name="location"  placeholder="Location"></textarea>
</div>
<div class="lineSquareform" style="padding: 0px;">
  <form action="/main" method="post" style="height:100%; width:100%">
  <button type="submit" class="submit2" style="padding: 18px;">Ok</button>
</form>
</div>
<div class="lineSquareform" style="padding: 0px;">
  <form action="/main" method="post" style="height:100%; width:100%">
  <button type="submit" class="submit2" style="padding: 18px;">Back</button>
</form>
</div>
</div>
</div>
</form>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsfqsN_5UqBfkXH2ZgI9Hb7eLPqVCttmk&libraries=places   "> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
<script type="text/javascript" src="javascripts/offer.js"> </script>
