<form action="/offer" method="post">
  <div class="form-group">
    <label for="name">Offer name</label>
    <input type="text" name="name" class="form-control" placeholder="Offer name">
  </div>
<br>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" name="description" class="form-control" placeholder="Description" size="40">
  </div>

  <% if (typeof(message) != "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>

<br>
<select multiple name="offer">
<option value="ColdFermChamb">Low Temperature Fermentation Chamber<br>
<option value="HotFermChamb">Middle Temperature Fermentation Chamber<br>
<option value="Mill">Grain Mill<br>
<option value="Crusher">Fruit Crusher<br>
<option value="Press">Fruit Press<br>
<option value="Full">Full brewing cycle<br>
</select>
<br>
  <button type="submit">Ok</button>

</form>
<br>



<a href ="/main">Back</a>
