<form action="/offer" method="post">
  <div class="form-group">
    <label for="name">Offer name</label>
    <input type="text" name="name" class="form-control" placeholder="Offer name">
  </div>
<br>
    <input type="checkbox" name="ColdFermChamb">
    <label for="ColdFermChamb">Low Temperature Fermentation Chamber</label><br>

    <input type="checkbox" name="HotFermChamb">
    <label for="HotFermChamb">Middle Temperature Fermentation Chamber</label><br>

    <input type="checkbox" name="Mill">
    <label for="Mill">Middle Temperature Fermentation Chamber</label><br>

    <input type="checkbox" name="Crusher">
    <label for="Crusher">Fruit Crusher</label><br>

    <input type="checkbox" name="Press">
    <label for="Press">Fruit Press</label><br>

    <input type="checkbox" name="Full">
    <label for="Full">Full brewing cycle</label><br>
<br>

  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" name="description" class="form-control" placeholder="Description" size="40">
  </div>
<br>

<label for="location">Location</label>
<input type="text" id="location" name="location" class="form-control" placeholder="Location">
<br><br>
<div id="map"></div>
<br>
  <button type="submit">Ok</button>
  <a href ="/main">Back</a>
</form>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsfqsN_5UqBfkXH2ZgI9Hb7eLPqVCttmk&libraries=places	"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
<script type="text/javascript" src="javascripts/offer.js"> </script>
