<form action="/offer" method="post">
  <div class="form-group">
    <label for="name">Offer name</label>
    <input type="text" name="name" class="form-control" placeholder="Offer name">
  </div>
<br>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" name="description" class="form-control" placeholder="Description" size="40">
  </div>

  <% if (typeof(message) != "undefined") { %>
    <div class="error-message"><%= message %></div>
  <% } %>

<br>

<select multiple name="offer" size="7 ">
<option value="ColdFermChamb">Low Temperature Fermentation Chamber<br>
<option value="HotFermChamb">Middle Temperature Fermentation Chamber<br>
<option value="Mill">Grain Mill<br>
<option value="Crusher">Fruit Crusher<br>
<option value="Press">Fruit Press<br>
<option value="Full">Full brewing cycle<br>

</select>
<br><br>
<label for="description">Adress</label>
<input type="text" id="location" class="form-control" placeholder="Location" size="40">
<br><br>
<div id="map"></div>
<br>
  <button type="submit">Ok</button>
  <a href ="/main">Back</a>
</form>
<br>

<div id="map"></div>


<a href ="/main">Back</a>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDsfqsN_5UqBfkXH2ZgI9Hb7eLPqVCttmk&libraries=places	"> </script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>
<script type="text/javascript" src="javascripts/offer.js"> </script>
