*{
  font-family: 'Roboto Slab', serif;
}

body {
  font-size: 14px;
}

a {
  color: #00B7FF;
}


#coldChamb, #hotChamb, #mill, #crusher, #press, #full {
  max-height: 70px;
  max-width: 70px;
  object-fit: contain;
}

.login-bg{
  width: 100%;
  height:100%;
  background-image: url("http://localhost:3000/public/imgs/login-signup-background-.jpg") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position:absolute;
}

#map {
 height: 400px;
 width: 100%;
}


@media only screen and (min-width: 480px) {

  #loginSquare{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

}


#coldChamb, #hotChamb, #mill, #crusher, #press, #full {
  max-height: 70px;
  max-width: 70px;
  object-fit: contain;

}

#mainSquare{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loginSquare{
  max-width: 481px;
  max-height: 800px;
  height: 70%;
  /*background-color: green;*/
  display: flex;
  flex-wrap: wrap;
  /*border: 5px solid black;*/
}

#logoSquare{
  height: 30%;
  width: 100%;
  background-color: rgb(89, 106, 164);
  display: flex;
  justify-content: center;
}

#logo{
  height: 100%;
  width: 40%;
  /*background-color: pink;*/
}

#bottomSquare {
  height: 9%;
  width: 100%;
  /*background-color: yellow;*/
}

.lineSquare{
  height: 10%;
  width: 100%;
  /*background-color: red;*/
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginField{
  height: 50%;
  width: 80%;
  /*background-color:red;*/
    color: white;
}
#passwordField{
  height: 50%;
  width: 80%;
  /*background-color:red;*/
    color: white;
}
#emailField{
  height: 50%;
  width: 80%;
  /*background-color:red;*/
    color: white;
}

#underMap{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
