*{
  font-family: 'Roboto Slab', serif;
}

body {
    font-size: 20px;
}

a {
  color: #00B7FF;
}


#coldChamb, #hotChamb, #mill, #crusher, #press, #full {
  max-height: 70px;
  max-width: 70px;
  object-fit: contain;
}

.login-bg{
  width: 100%;
  height: 100%;
  background-image: url("http://localhost:3000/public/imgs/login-signup-background-.jpg") ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position:absolute;
}

#map {
 height: 400px;
 width: 100%;
}


@media only screen and (min-width: 480px) {

  #loginSquare{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

}


#coldChamb, #hotChamb, #mill, #crusher, #press, #full {
  max-height: 70px;
  max-width: 70px;
  object-fit: contain;

}

#mainSquare{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#loginSquare{
  border: 20px solid #ED2927;
  max-width: 481px;
  max-height: 800px;
  height: 70%;
<<<<<<< HEAD
=======
  /*background-color: green;*/
>>>>>>> 2e3a1cc5ea38984b0d087c9a7dbd297d48b9ff8a
  display: flex;
  flex-wrap: wrap;
  /*border: 5px solid black;*/
}

#logoSquare{
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo{
  height: 90%;
  width: 40%;
<<<<<<< HEAD
  background-image: url("http://localhost:3000/public/imgs/brewshare-logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
=======
  /*background-color: pink;*/
>>>>>>> 2e3a1cc5ea38984b0d087c9a7dbd297d48b9ff8a
}

#bottomSquare {
  height: 9%;
  width: 100%;
  /*background-color: yellow;*/
}

.lineSquare{
  height: 10%;
  width: 100%;
<<<<<<< HEAD
  background-color: hsla(138, 11%, 92%, 0.65);
=======
  /*background-color: red;*/
>>>>>>> 2e3a1cc5ea38984b0d087c9a7dbd297d48b9ff8a
  margin: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginField{
<<<<<<< HEAD
  height: 70%;
  width: 95%;
  text-align: center;
  background-color:white;
    color: blue;
}
#passwordField{
  height: 70%;
  width: 95%;
  text-align: center;
  background-color:white;
    color: blue;
}
#emailField{
  height: 70%;
  width: 95%;
  text-align: center;
  background-color:white;
    color: blue;
=======
  height: 50%;
  width: 80%;
  /*background-color:red;*/
    color: white;
}
#passwordField{
  height: 50%;
  width: 80%;
  /*background-color:red;*/
    color: white;
}
#emailField{
  height: 50%;
  width: 80%;
  /*background-color:red;*/
    color: white;
>>>>>>> 2e3a1cc5ea38984b0d087c9a7dbd297d48b9ff8a
}

#underMap{
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.link{
  font-weight: 600;
  color: white;
}
